---
title: 8000038 GDPR copil cont de verificare
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 01/24/2019
ms.locfileid: "29485509"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="dbe79-102">Data naşterii afişate în contul Microsoft este incorectă.</span><span class="sxs-lookup"><span data-stu-id="dbe79-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="dbe79-p101">Microsoft ia securitate cont foarte serios. Poate au recent fost vi pentru a oferi acordul părinţilor pentru copil un cont Microsoft. Dacă aveţi nevoie de ajutor în furnizarea de acordul părinţilor sau actualizarea data naşterii pe un cont de Microsoft, a se vedea [Age verification pentru acordul părinţilor](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="dbe79-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="dbe79-106">Aflaţi mai multe despre [acordul părinţilor şi conturile de copil Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="dbe79-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

