---
title: 8000038 GDPR copil cont de verificare
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919956"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data naşterii afişate în contul Microsoft este incorectă.

Microsoft ia securitate cont foarte serios. Poate au recent fost vi pentru a oferi acordul părinţilor pentru copil un cont Microsoft. Dacă aveţi nevoie de ajutor în furnizarea de acordul părinţilor sau actualizarea data naşterii pe un cont de Microsoft, a se vedea [Age verification pentru acordul părinţilor](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Aflaţi mai multe despre [acordul părinţilor şi conturile de copil Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

