---
title: Verificarea EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814384"
---
# <a name="edu-verification"></a><span data-ttu-id="22f75-102">Verificarea EDU</span><span class="sxs-lookup"><span data-stu-id="22f75-102">EDU verification</span></span>

<span data-ttu-id="22f75-103">În majoritatea cazurilor, solicitările de eligibilitate academică sunt procesate în termen de 24-48 de ore.</span><span class="sxs-lookup"><span data-stu-id="22f75-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="22f75-104">Unele solicitări pot necesita o revizuire mai detaliată și pot dura până la 10 zile lucrătoare pentru procesare.</span><span class="sxs-lookup"><span data-stu-id="22f75-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="22f75-105">După ce terminați, vă vom trimite un e-mail cu starea de eligibilitate a școlii dvs.</span><span class="sxs-lookup"><span data-stu-id="22f75-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="22f75-106">**Important** Dacă ai ieșit din expertul de verificare înainte de a intra într-un domeniu, puteți relua expertul de verificare [academică](https://go.microsoft.com/fwlink/p/?linkid=2135255) în orice moment, în timpul perioadei de încercare gratuite.</span><span class="sxs-lookup"><span data-stu-id="22f75-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="22f75-107">Dacă preferați să verificați starea domeniului, accesați Centrul [de administrare Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="22f75-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="22f75-108">Pe pagina de pornire, defilați în partea de jos și găsiți **fișa de** facturare.</span><span class="sxs-lookup"><span data-stu-id="22f75-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="22f75-109">**Fișa** de facturare indică starea procesului de verificare (aprobat, în așteptare, refuzat sau adăugați domeniul).</span><span class="sxs-lookup"><span data-stu-id="22f75-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="22f75-110">Dacă solicitarea dvs. este refuzată, consultați [Școala mea nu este eligibilă. Ce să fac acum?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="22f75-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>