---
title: Verificarea EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946768"
---
# <a name="edu-verification"></a>Verificarea EDU

În majoritatea cazurilor, solicitările de eligibilitate academică sunt procesate în termen de 24-48 de ore. Unele solicitări pot necesita o revizuire mai detaliată și pot dura până la 10 zile lucrătoare pentru procesare. După ce terminați, vă vom trimite un e-mail cu starea de eligibilitate a școlii dvs.

**Important** Dacă ai ieșit din expertul de verificare înainte de a intra într-un domeniu, puteți relua expertul de verificare [academică](https://go.microsoft.com/fwlink/p/?linkid=2135255) în orice moment, în timpul perioadei de încercare gratuite.

Dacă preferați să verificați starea domeniului, accesați [pagina de Centru de administrare Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Pe pagina de pornire, defilați în partea de jos și găsiți **fișa de** facturare. **Fișa** de facturare indică starea procesului de verificare (aprobat, în așteptare, refuzat sau adăugați domeniul).

Dacă solicitarea dvs. este refuzată, consultați [Școala mea nu este eligibilă. Ce să fac acum?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)