---
title: Verificarea EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205279"
---
# <a name="edu-verification"></a>Verificarea EDU

În majoritatea cazurilor, cererile de eligibilitate academică sunt procesate în termen de 24-48 de ore. Unele solicitări pot necesita o revizuire mai aprofundată și pot dura până la 10 zile lucrătoare pentru a fi procesate. După finalizare, vă vom trimite un e-mail cu statutul de eligibilitate al școlii dvs.

**Important** Dacă ați ieșit din expertul de verificare înainte de a introduce un domeniu, aveți posibilitatea să [reluați expertul de verificare academică](https://go.microsoft.com/fwlink/p/?linkid=2135255) în orice moment în timpul perioadei de încercare gratuită.

Dacă doriți să verificați starea domeniului, accesați [Centrul de administrare Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Pe pagina de pornire, defilați în partea de jos și găsiți cardul **de facturare.** Cardul **de facturare** indică starea procesului de verificare (aprobat, în așteptare, refuzat sau adăugați domeniul dvs.).

Dacă solicitarea ta este respinsă, consultați [Școala mea nu este eligibilă. Ce să fac acum?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)