---
title: Verificarea EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205279"
---
# <a name="edu-verification"></a><span data-ttu-id="03a23-102">Verificarea EDU</span><span class="sxs-lookup"><span data-stu-id="03a23-102">EDU verification</span></span>

<span data-ttu-id="03a23-103">În majoritatea cazurilor, cererile de eligibilitate academică sunt procesate în termen de 24-48 de ore.</span><span class="sxs-lookup"><span data-stu-id="03a23-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="03a23-104">Unele solicitări pot necesita o revizuire mai aprofundată și pot dura până la 10 zile lucrătoare pentru a fi procesate.</span><span class="sxs-lookup"><span data-stu-id="03a23-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="03a23-105">După finalizare, vă vom trimite un e-mail cu statutul de eligibilitate al școlii dvs.</span><span class="sxs-lookup"><span data-stu-id="03a23-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="03a23-106">**Important** Dacă ați ieșit din expertul de verificare înainte de a introduce un domeniu, aveți posibilitatea să [reluați expertul de verificare academică](https://go.microsoft.com/fwlink/p/?linkid=2135255) în orice moment în timpul perioadei de încercare gratuită.</span><span class="sxs-lookup"><span data-stu-id="03a23-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="03a23-107">Dacă doriți să verificați starea domeniului, accesați [Centrul de administrare Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="03a23-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="03a23-108">Pe pagina de pornire, defilați în partea de jos și găsiți cardul **de facturare.**</span><span class="sxs-lookup"><span data-stu-id="03a23-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="03a23-109">Cardul **de facturare** indică starea procesului de verificare (aprobat, în așteptare, refuzat sau adăugați domeniul dvs.).</span><span class="sxs-lookup"><span data-stu-id="03a23-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="03a23-110">Dacă solicitarea ta este respinsă, consultați [Școala mea nu este eligibilă. Ce să fac acum?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="03a23-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>