---
title: 8000038 GDPR copil cont de verificare
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387069"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="e0c2d-102">Data naşterii afişate în contul Microsoft este incorectă.</span><span class="sxs-lookup"><span data-stu-id="e0c2d-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="e0c2d-103">Microsoft ia securitate cont foarte serios.</span><span class="sxs-lookup"><span data-stu-id="e0c2d-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="e0c2d-104">Poate au recent fost vi pentru a oferi acordul părinţilor pentru copil un cont Microsoft.</span><span class="sxs-lookup"><span data-stu-id="e0c2d-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="e0c2d-105">Dacă aveţi nevoie de ajutor în furnizarea de acordul părinţilor sau actualizarea data naşterii pe un cont de Microsoft, a se vedea [Age verification pentru acordul părinţilor](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="e0c2d-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="e0c2d-106">Aflaţi mai multe despre [acordul părinţilor şi conturile de copil Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="e0c2d-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  