---
title: 8000038 GDPR verificare a contului copilului
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764992"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="d1a77-102">Data nașterii afișată în contul Microsoft este incorectă</span><span class="sxs-lookup"><span data-stu-id="d1a77-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="d1a77-103">Microsoft ia în considerare securitatea foarte în serios.</span><span class="sxs-lookup"><span data-stu-id="d1a77-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="d1a77-104">Este posibil să vi se fi solicitat recent să furnizați consimțământul părinților pentru contul Microsoft al unui copil.</span><span class="sxs-lookup"><span data-stu-id="d1a77-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="d1a77-105">Dacă aveți nevoie de ajutor pentru a furniza consimțământul părinților sau pentru a actualiza data nașterii într-un cont Microsoft, consultați [Verificarea vârstei pentru consimțământul parental](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="d1a77-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="d1a77-106">Aflați mai multe despre [consimțământul parental și conturile pentru copii Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="d1a77-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  