---
title: 8000038 GDPR verificare a contului copilului
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764992"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data nașterii afișată în contul Microsoft este incorectă

Microsoft ia în considerare securitatea foarte în serios. Este posibil să vi se fi solicitat recent să furnizați consimțământul părinților pentru contul Microsoft al unui copil. Dacă aveți nevoie de ajutor pentru a furniza consimțământul părinților sau pentru a actualiza data nașterii într-un cont Microsoft, consultați [Verificarea vârstei pentru consimțământul parental](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Aflați mai multe despre [consimțământul parental și conturile pentru copii Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  