---
title: 8000038 GDPR copil cont de verificare
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400981"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data naşterii afişate în contul Microsoft este incorectă.

Microsoft ia securitate cont foarte serios. Poate au recent fost vi pentru a oferi acordul părinţilor pentru copil un cont Microsoft. Dacă aveţi nevoie de ajutor în furnizarea de acordul părinţilor sau actualizarea data naşterii pe un cont de Microsoft, a se vedea [Age verification pentru acordul părinţilor](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Aflaţi mai multe despre [acordul părinţilor şi conturile de copil Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

