---
title: 8000038 RGPD verificarea contului copilului
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707975"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data nașterii afișată în contul Microsoft este incorectă

Microsoft ia în serios securitatea contului. Este posibil să vi se solicite recent să furnizați consimțământul parental pentru un cont Microsoft al copilului. Dacă aveți nevoie de ajutor pentru a furniza consimțământul parental sau pentru a actualiza data nașterii într-un cont Microsoft, consultați [Verificarea vârstei pentru consimțământul parental](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Aflați mai multe despre [consimțământul parental și conturile Microsoft Child](https://go.microsoft.com/fwlink/p/?linkid=874365).
  