---
title: 8000038 de cont de copil GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057006"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Data nașterii afișată în contul dvs. Microsoft este incorectă

Microsoft ia foarte în serios securitatea contului. Vi se poate să vi se solicite recent să furnizați consimțământ parental pentru contul Microsoft al unui copil. Dacă aveți nevoie de ajutor pentru furnizarea consimțământului parental sau pentru actualizarea datei de naștere într-un cont Microsoft, consultați [Verificarea vârstei pentru consimțământul parental.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Aflați mai multe [despre Consimțământul parental și conturile de copil Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  