---
title: Depanarea verificării Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885369"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Probleme legate de verificarea Publisher pentru dezvoltatori

**Pașii recomandați** 

Pentru a rezolva problemele legate de verificarea Publisher, efectuați pașii de mai jos:

1. Revizuiți cerințele preliminare și alte cerințe pentru a vă asigura că toate sunt îndeplinite.
2. Revizuiți instrucțiunile pentru a [marca o aplicație ca Publisher verificată](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) și asigurați-vă că toți pașii au fost efectuate cu succes.
3. Revizuiți lista de [probleme comune](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) și urmați pașii recomandați dacă aveți o problemă din această listă.
4. Reproduceți solicitarea utilizând [Explorer Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) pentru a aduna informații suplimentare și a elimina orice probleme din interfața de utilizator.

**Documente recomandate**

- [Verificare Publisher-prezentare generală](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Marcarea aplicației ca editor verificat](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Depanarea verificării Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

