---
title: Depanarea verificării Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: ro-RO
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885369"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="40e28-102">Probleme legate de verificarea Publisher pentru dezvoltatori</span><span class="sxs-lookup"><span data-stu-id="40e28-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="40e28-103">**Pașii recomandați**</span><span class="sxs-lookup"><span data-stu-id="40e28-103">**Recommended steps**</span></span> 

<span data-ttu-id="40e28-104">Pentru a rezolva problemele legate de verificarea Publisher, efectuați pașii de mai jos:</span><span class="sxs-lookup"><span data-stu-id="40e28-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="40e28-105">Revizuiți cerințele preliminare și alte cerințe pentru a vă asigura că toate sunt îndeplinite.</span><span class="sxs-lookup"><span data-stu-id="40e28-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="40e28-106">Revizuiți instrucțiunile pentru a [marca o aplicație ca Publisher verificată](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) și asigurați-vă că toți pașii au fost efectuate cu succes.</span><span class="sxs-lookup"><span data-stu-id="40e28-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="40e28-107">Revizuiți lista de [probleme comune](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) și urmați pașii recomandați dacă aveți o problemă din această listă.</span><span class="sxs-lookup"><span data-stu-id="40e28-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="40e28-108">Reproduceți solicitarea utilizând [Explorer Graph](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) pentru a aduna informații suplimentare și a elimina orice probleme din interfața de utilizator.</span><span class="sxs-lookup"><span data-stu-id="40e28-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="40e28-109">**Documente recomandate**</span><span class="sxs-lookup"><span data-stu-id="40e28-109">**Recommended documents**</span></span>

- [<span data-ttu-id="40e28-110">Verificare Publisher-prezentare generală</span><span class="sxs-lookup"><span data-stu-id="40e28-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="40e28-111">Marcarea aplicației ca editor verificat</span><span class="sxs-lookup"><span data-stu-id="40e28-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="40e28-112">Depanarea verificării Publisher</span><span class="sxs-lookup"><span data-stu-id="40e28-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

